<div [@animateSidebarBackdrop]="state" class="sidebar-backdrop" id="sidebar-wrapper" (click)="toggleState($event, content)"></div>
<main class="sidebar-container" [@animateSidebar]="state" [ngStyle]="{ 'width': size ? size : '452px'  }">
  <section class="sidebar-content">
    <div #content>

      <!-- Header -->
      <header class="sidebar-header">
        <div class="column col-xs-12 col-11 col-mx-auto">
          <div class="header-content">
            <span>{{ title }}</span>
            <span><i class="fas fa-times" id="close" (click)="toggleState($event, content)"></i></span>
          </div>
        </div>
      </header>

      <!-- Content -->
      <ng-content></ng-content>

    </div>
  </section>
</main>

