<main class="main-container sidebar-container" id="sidebar-wrapper" (click)="toggleState($event, content)" [@animateWrapper]="state">

  <section class="sidebar-content" [@animateContent]="state" id="sidebar" [ngStyle]="{ 'width': size ? size : '40%'  }">

    <div #content>

      <!-- Heading -->
      <header class="sidebar-header">
        <div class="column col-xs-12 col-11 col-mx-auto">
          <div class="header-content">
            <span>{{ title }}</span>
            <span><i class="fas fa-times" id="close" (click)="toggleState($event, content)"></i></span>
          </div>
        </div>
      </header>
      <!-- /Heading -->

      <!-- Content -->
      <ng-content></ng-content>
      <!-- /Content -->

    </div>

  </section>

</main>
